/*  your css code here. If applicable */
/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container with left and right sections */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

/* Left section with logo and description */
.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
    text-align: center;
}

.left img {
    margin-bottom: 20px;
}

.left p {
    font-size: 18px;
    color: #606770;
}

/* Right section with form */
.right {
    display: inline-block;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

button {
    background-color: #1877f2;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #165eaa;
}

a {
    color: #1877f2;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* Sign up button */
.signup {
    background-color: #42b72a;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}

.signup:hover {
    background-color: #36a420;
}



